@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");
@import url("https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/d2coding.css");

html,
body,
#__next {
  height: 100%;
}

.editor {
  counter-reset: line;
  border: 1px solid #ced4da;
  background-color: #2d2d2d;
  color: white;
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}
